<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
  <key>HomepageLocation</key>
  <string>https://www.google.com</string>
  <key>HomepageIsNewTabPage</key>
  <false/>
  <key>DefaultBrowserSettingEnabled</key>
  <true/>
  <key>RestoreOnStartup</key>
  <integer>1</integer>
  <key>ManagedBookmarks</key>
  <array>
    <dict>
      <key>toplevel_name</key>
      <string>Managed bookmarks folder</string>
    </dict>
    <dict>
      <key>name</key>
      <string>Google</string>
      <key>url</key>
      <string>google.com</string>
    </dict>
    <dict>
      <key>name</key>
      <string>Youtube</string>
      <key>url</key>
      <string>youtube.com</string>
    </dict>
    <dict>
      <key>children</key>
      <array>
        <dict>
          <key>name</key>
          <string>Chromium</string>
          <key>url</key>
          <string>chromium.org</string>
        </dict>
        <dict>
          <key>name</key>
          <string>Chromium Developers</string>
          <key>url</key>
          <string>dev.chromium.org</string>
        </dict>
      </array>
      <key>name</key>
      <string>Chrome links</string>
    </dict>
  </array>
  <key>MaxConnectionsPerProxy</key>
  <integer>99</integer>
  <key>SafeBrowsingProtectionLevel</key>
  <integer>1</integer>
  <key>ExtensionInstallForcelist</key>
  <array>
    <string>noondiphcddnnabmjcihcjfbhfklnnep</string>
    <string>djflhoibgkdhkhhcedjiklpkjnoahfmg</string>
  </array>
  <key>MetricsReportingEnabled</key>
  <true/>
</dict>
</plist>
